<div class="contents row">
  <%= form_for(@course) do |f| %>
    <div class="form-group">
      <%= f.label :タイトル, style: '' %>
      <%= f.text_area :title, placeholder: '淀川サイクリング', style: '' %>
    </div>
    <div class="form-group">
      <%= f.fields_for :images do |i| %>
        <div>
        <%= f.label :メイン画像, style: '' %>
        <%= i.file_field :filename %>
        <%= i.text_area :text, placeholder: 'テキスト', style: '' %>
        <%= i.hidden_field :mainimage, value: 1 %>
        <%= i.hidden_field :user_id, value: current_user.id %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :テキスト, style: '' %>
      <%= f.text_area :text, placeholder: '風が強かったけど、気持ちよく走れた', style: 'cols: 30; rows: 10;' %>
    </div>
    <div class="form-group">
      <%= f.label :都道府県, style: '' %>
      <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
    </div>


    <div class="selectbox_group">

      <div class="selectbox_first">
        <div class="field">
          <h4><%= f.label :"テーマ・スタイル" %></h4>
          <%= collection_check_boxes(:post, :ride_theme_ids, RideTheme.all, :id, :name ) do |t|  %>
            <% t.label { t.check_box + t.text } %>
          <% end %>
        </div>
      </div>

      <div class="selectbox">
        <div class="field">
          <h4><%= f.label :"自転車の種類" %></h4>
          <%= collection_check_boxes(:post, :bike_type_ids, BikeType.all, :id, :name ) do |t|  %>
            <% t.label { t.check_box + t.text } %>
          <% end %>
        </div>
      </div>

      <div class="selectbox">
        <h4>体力レベル</h4>
        <div class="form-group" >
          <label><%= f.radio_button :physical_level, "1" %>らくらく</label>
          <label><%= f.radio_button :physical_level, "2" %>ふつう</label>
          <label><%= f.radio_button :physical_level, "3" %>それなりに</label>
          <label><%= f.radio_button :physical_level, "4" %>ハード</label>
        </div>
      </div>

      <div class="selectbox">
        <h4>アップダウン</h4>
        <div class="form-group" >
          <label><%= f.radio_button :updown, "1" %>少ない</label>
          <label><%= f.radio_button :updown, "2" %>普通</label>
          <label><%= f.radio_button :updown, "3" %>多い</label>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="col10 push1">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
        投稿する<i class="icon-arrow-right"></i>
      <% end %>
    </div>

  <% end %>

</div>


