<!DOCTYPE html>
<html>
<head>
  <title>コグログ〜世界中を自転車で楽しもう！〜</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- ====== /ヘッダー領域 ===== -->
<!-- ■■ヘッダー■■ -->
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">コグログ</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="" style="margin-left: 20px;">コース</a></li>
      <li><a href="" >マップ</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="courses/new">コース投稿</a></li>
      <li><a href="">ログ記録</a></li>
      <li><%= link_to 'マイページ', "#" if user_signed_in? %></li>
      <li><%= link_to 'ログイン', "/users/sign_in" unless user_signed_in? %></li>
      <li><%= link_to '新規登録', "/users/sign_up" unless user_signed_in? %></li>
      <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete if user_signed_in? %></li>
      <li><a href=""><%= current_user.nickname if user_signed_in? %></a></li>
    </ul>
  </div>
</div>
    <!-- ■■ヘッダー〆■■ -->
    <!-- ■■モーダル■■ -->
    <!-- ■■モーダル〆■■ -->
<!-- ====== /コンテンツ領域 ===== -->
<div class="container">

  <%= yield %>

</div>

</body>
</html>
